.container {
  @apply w-full overflow-auto p-2;

  @screen md {
    @apply p-5;
  }
}

.chart {
  @apply bg-white w-full h-auto px-2;

  min-width: 728px;

  @screen md {
    @apply px-5;
  }
}

.grid {
  stroke: #ccc;
  stroke-dasharray: none;
  stroke-width: 1;
}

.line {
  fill: none;
  stroke: #0074d9;
  stroke-width: 0.5;
}

.labels {
  font-size: 6px;
}

/* purgecss start ignore */
.x-labels {
  transform: translate3d(0, 8px, 0);
  text-anchor: middle;
}

.y-labels {
  transform: translate3d(-4px, 2px, 0);
  text-anchor: end;
}

.rect-highlight {
  fill: rgba(255, 0, 0, 0.3);
}

.line-highlight {
  stroke: rgba(255, 0, 0, 0.3);
  stroke-width: 1;
}

/* purgecss end ignore */
