.container {
  padding: 0 20px 20px;
  width: 100%;
}

.chart {
  background: white;
  padding: 0 20px;
  width: 100%;
  height: auto;
}

.grid {
  stroke: #ccc;
  stroke-dasharray: none;
  stroke-width: 1;
}

.labels {
  font-size: 6px;
}

.x-labels {
  transform: translate3d(0, 8px, 0);
  text-anchor: middle;
}

.y-labels {
  transform: translate3d(-4px, 2px, 0);
  text-anchor: end;
}

.line {
  fill: none;
  stroke: #0074d9;
  stroke-width: 0.5;
}

.rect-highlight {
  fill: rgba(255, 0, 0, 0.3);
}

.line-highlight {
  stroke: rgba(255, 0, 0, 0.3);
  stroke-width: 1;
}
